<div class="footer-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <div>
          <p>
            <a href="https://my.nubity.com/signup">Create your account</a> |
            <a href="mailto:info@nubity.com">Contact us</a> |
            <a href="http://www.nubity.com/en/terms">Our user agreement</a> |
            <a href="http://www.nubity.com/en/privacy">Privacy policy</a> |
            <a href="http://www.nubity.com/en/faq">F.A.Q.</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
